#main-img {
  border-radius: 40px;
  transform: rotate(25deg);
  position:absolute;
  top:30px;


}
#features {
  padding: 6% 5%;
  margin: 0px 4%;
  text-align: center;
  font-size: .9rem;
  font-weight: 400;
  background-color:white;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  z-index:1;
}

#title {
  background-color: #ff4c68;
  color: white;
  height: 100%;
  margin:
}

.navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.7rem;
  margin: -3%;
}
.navbar-title{
  margin: -5%;
padding: 3% 17% 7% 7%;
}

.nav-item {
  padding: 0px 7%;
}

.nav-link {
  font-size: 1rem;
  color: #e6e6e6;
}

.container-fluid {
  padding: 3% 15%;
}
.para{
  margin:1% 1%;
padding: 1px 18%;
color: #a6a6a6;
}
.row {
  margin-top: 1%;
}

.download-btn {
  padding: 2%;
  font-size: 99%;
  margin: 3% 5% 3% 0%;
  font-family: 'Open Sans', sans-serif;
}



.feature-icon {
  color: red;
}

.feature-icon:hover {
  color: #ff4c68;
}

h3 {
  font-weight: bold;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.7;
  font-weight: bold;
}
h2{
  font-size:2rem;
}
/* testimonials section */

#testimonials{
  margin:0% 0%;

  text-align:center;
  background-color:#ff4c68;
  color:white;
}
#cat-img{
  margin:2% 2%;
  border-radius:36%;
  height:10%;
  width: 20%;
}
#press{
  background-color:#ff4c68;
  text-align:center;
  padding:2% 1%;

}
.press-logo{
  width:12%;
  margin:2% 4%;
}

/* testimonials styling*/

.carousel-item
{
padding:2% 11%;
}

.testimonial-image{
  margin:2% 2%;
  border-radius:36%;
  height:10%;
  width: 20%;
}

/* pricing section */

.card-deck{
  margin: 1% 11%;
      padding: 4% 0%;

}

.cat-price-img{

  width: 50%;

  margin: 5%;
}


 /*    Pricing section */

#pricing{

   padding:5%;
   text-align:center;
}

.pricing-column {
  padding:2% 2%;
}

/* @media queries */

@media (max-width:767px){
  #main-img{
    position:static;
    transform:rotate(0deg);
    margin: 4% 20%;


  }
  .title{
    text-align:center;
  }
  .download-btn {
    padding: 1%;
  font-size: 92%;
  margin: 2% 10%;
    font-family: 'Open Sans', sans-serif;
  }


}

/* footer section */

#cta{
  background-color:#ff4c68;
  text-align: center;
    margin: 0% 0%;
    padding: 6% 37%;
}

#footer-id{
  margin: -23% -3% -2% -11%;
padding: 7% 9%;
    color: #fff;
    font-size:2.5rem;
}

#footer{
   color: #bdbfc1;
  text-align:center;
}

.footer-icon{
  margin: 6% 3% 9px;
  color:black;


}
